@import '../variables';

.header {
  padding: 50px 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__content-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__right-nav__list {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__right-nav__list-item_link {
    &:hover {
      opacity: 1;
    }
  }

  &__right-nav__list-item_img {
    &:hover {
      fill: #C83A2E;
    }
  }

  &__right-nav__list-item--basket {
    position: relative;

    &__value {
      position: absolute;
      background: #2A2A2F;
      border-radius: 6px;
      color: #fff;
      padding: 6px;
      top: -27px;
      right: -20px;
    }
  }
}

.nav {
  &__body-items {
    display: flex;
    gap: 50px;
  }

  &__link {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */


    color: #C0C0C0;
  }
}