.banner {
    padding: 40px 0 150px;
    background-image: url('../../assets/img/svg/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  
    &__content {
      margin: 150px 0;
      display: flex;
      justify-content: space-between;
      align-items: end;
    }
  
    &__content--title {
      font-family: 'TT Hoves';
      font-style: normal;
      font-weight: 300;
      font-size: 88px;
      line-height: 95%;
      /* or 84px */
      max-width: 575px;
      letter-spacing: -0.06em;
  
      color: #FFFFFF;
    }
  
    &__content--text {
      font-family: 'TT Hoves';
      font-style: normal;
      font-weight: 500;
      font-size: 23px;
      line-height: 27px;
      max-width: 360px;
      color: #FFFFFF;
    }
    &__content-btn:hover{
      background-color: #686161;

    }
    &__content-link {
      &:hover {
        opacity: 1;
      }
    }
  }
  .swiper__slide-img {
    text-align: center;
  
    img {
      width: 100%;
      border-radius: 21px;
    }
  }
  .content {
    min-width: 0;
  }
  .recommendations {
    padding-top: 187px;
  
    &__content {
      margin-bottom: 150px;
    }
  
    &__content-title {
      margin-right: 125px;
      max-width: 630px;
  
    }
  
  
  
  }
  .recommendations__swiper-prev:hover .recommendations__swiper-icon,
.recommendations__swiper-next:hover .recommendations__swiper-icon {
  stroke: #fff;
  /* Змінює колір іконки на білий */
}

.recommendations__swiper-prev {
  margin-right: 50px;
}

.recommendations__swiper-next {
  margin-right: 80px;
}

.recommendations__swiper-icon {
  stroke: #000;
}

.recommendations__swiper-buttons {
  margin-top: 70px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.recommendations__swiper-btn {
  margin-right: 80px;
}
  