.banner {
  padding: 40px 0 40px;
  background-image: url('../../assets/img/svg/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 988px) {}

  &__content {
    margin: 150px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: 870px) {
      margin: 100px 0;
    }

    @media (max-width: 450px) {
      margin: 50px 0;
    }

    @media (max-width: 988px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      justify-content: space-between;
    }
  }

  &__content--title {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 88px;
    line-height: 95%;
    /* or 84px */
    max-width: 575px;
    letter-spacing: -0.06em;
    
    @media (max-width: 1666px) {
      font-size: 69px;
    }
    @media (max-width: 1382px) {
      font-size: 57px;
    }
    @media (max-width: 1116px) {
      font-size: 30px;
    }
    @media (max-width: 579px) {
      font-size: 20px;
    }
    color: #FFFFFF;
  }

  &__content--text {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    max-width: 360px;
    color: #FFFFFF;
  }

  &__content-btn:hover {
    background-color: #686161;
    background-size: 0;
    background-position: -100% 0;
    @media only screen and (max-width: 767px) {
      background: #686161; /* Замініть $btn-color на вашу змінну з бажаним фоновим кольором */
    }
  }

  &__content-link {
    &:hover {
      opacity: 1;
    }
  }
}

.swiper__slide-img {
  text-align: center;

  img {
    width: 100%;
    border-radius: 21px;
  }
}

.content {
  min-width: 0;
}

.recommendations {
  padding-top: 187px;

  @media (max-width: 870px) {
    padding-top: 100px;
  }

  @media (max-width: 450px) {
    padding-top: 50px;
  }

  &__content {
    margin-bottom: 150px;

    @media (max-width: 870px) {
      margin: 100px 0;
    }

    @media (max-width: 450px) {
      margin: 50px 0;
    }
  }

  &__content-title {
    margin-right: 125px;
    max-width: 630px;

  }



}

.recommendations__swiper-prev:hover .recommendations__swiper-icon,
.recommendations__swiper-next:hover .recommendations__swiper-icon {
  stroke: #fff;
  /* Змінює колір іконки на білий */
}

.recommendations__swiper-prev {
  margin-right: 50px;
}

.recommendations__swiper-next {
  margin-right: 80px;
}

.recommendations__swiper-icon {
  stroke: #000;
}

.recommendations__swiper-buttons {
  margin-top: 70px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.recommendations__swiper-btn {
  margin-right: 80px;
}

.menu {
  padding-bottom: 190px;

  @media (max-width: 870px) {
    padding-bottom: 100px;
  }

  @media (max-width: 450px) {
    padding-bottom: 50px;
  }

  &__content-text {
    margin-bottom: 150px;
  }

  &__navigation-list {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 892px) {
      justify-content: center;
    }
  }

  &__title {
    max-width: 639px;
    margin-right: 116px;
  }

  &__subtitle {
    max-width: 221px;
  }

  &__navigaton-img {
    transition: all ease .2s;
  }

  &__navigaton-img:hover {
    opacity: .7;
  }
}

.aboutUs {
  padding-bottom: 150px;

  @media (max-width: 870px) {
    padding-top: 100px;
  }

  @media (max-width: 450px) {
    padding-top: 50px;
  }

  &__title {
    margin-right: 96px;
    width: 50%;
  }
  &__order-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  &__order-content_title {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 95%;
    position: absolute;
    max-width: 548px;
    letter-spacing: -0.06em;
    color: #000000;
    text-align: center;
    @media (max-width: 1200px) {
      font-size: calc(18px + (44 - 15) * ((100vw - 320px) / (1200 - 320)));
    }
  }
  
  &__text {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    max-width: 534px;
    color: #000000;
  }

  &__content-text {
    margin-bottom: 175px;
  }

  &__content {
    display: flex;
    gap: 20px;

    @media (max-width: 1700px) {
      flex-direction: column;
    }

  }

  &__content-img__wrapper {
    width: 50%;
    @media (max-width: 1700px) {
      width: 100%;
    }
    background-color: #F03C1F;
    border-radius: 22px;
    position: relative;
  }

  &__content-img__wrapper-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin: 0 auto;
    max-width: 561px;
    align-items: center;
    justify-content: center;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 95%;
    letter-spacing: -0.06em;
    color: #FFFFFF;

    @media (max-width: 1200px) {
      font-size: calc(16px + (88 - 20) * ((100vw - 320px) / (1200 - 320)));
    }
  }


}

.shipping {
  &__home {
    padding: 0;
  }

  &__title {
    margin-right: 224px;
  }

  &__img {
    margin-bottom: 190px;

    @media (max-width: 870px) {
      margin-bottom: 100px;
    }

    @media (max-width: 450px) {
      margin-bottom: 50px;
    }
  }

  &__btn {
    padding: 110px 0 90px;
    text-align: center;
  }

  &__conditions {
    display: flex;
    gap: 90px;

    @media (max-width: 1700px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &-content {
      display: flex;
      gap: 180px;
      align-items: center;

      @media (max-width: 1700px) {
        flex-direction: column;
        gap: 50px;
        align-items: flex-start;
      }

      &__left {
        display: flex;
        flex-direction: column;
        gap: 150px;

        @media (max-width: 1700px) {
          gap: 50px;

        }
      }

      &__right {
        display: flex;
        flex-direction: column;
        gap: 150px;
      }

      &__worktime-title {
        font-family: 'TT Hoves';
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 27px;
        margin-bottom: 20px;
        color: #000000;
      }

      &__text {
        font-family: 'TT Hoves';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 27px;
        color: #000000;
      }

      &__worktime-text {
        font-family: 'TT Hoves';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 27px;
        color: #000000;
      }
    }
  }
}