
.sety{
    &__content-text{
        display: flex;
        justify-content: space-between;
        margin-top: 88px;
        align-items: center;
        margin-bottom: 170px;

    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 150px;
    }
    &__swiper-slide{
        width: 24%;
        display: block;
    }
}
.product__card{
    width: 24%;
    &-text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 150px;
        overflow-y: scroll;
        box-shadow: linear-gradient(180deg, #000000 -297.92%, rgba(0, 0, 0, 0) 108.33%);

    }
    &-text::-webkit-scrollbar {
        width: 0.2em; /* Задаємо ширину скролбара (можна збільшити, якщо потрібно) */

      }
     
}