.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #716b6b;
    bottom: 10px;
    position: relative;
    @media (max-width: 450px) {
      bottom: 7px;
      height: 7px;
      width: 7px;
    }
  }
  
  .swiper-pagination-bullet-active {
    background: #C83A2E
  }
  
  