.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #716b6b;
    bottom: 10px;
    position: relative;
  
  }
  
  .swiper-pagination-bullet-active {
    background: #C83A2E
  }
  
  