@import './libs/normalize';
@import './variables';
@import './components/all';
@font-face {
    font-family: "TT Hoves";
    src: url("../assets/fonts/TT Hoves Pro Trial Light.ttf") format("truetype");
    font-weight: 300;
  }
  
  @font-face {
    font-family: "TT Hoves";
    src: url("../assets/fonts/TT Hoves Pro Trial Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "TT Hoves";
    src: url("../assets/fonts/TT Hoves Pro Trial Regular.ttf") format("truetype");
  }
  
  body {
    font-family: "TT Hoves Medium", sans-serif;
    font-size: 20px;
    color: #000;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main {
    flex: 1;
  }
  
  .container {
    padding: 0 40px;
  }
  
  .title {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 88px;
    line-height: 95%;
    letter-spacing: -0.06em;
    color: #000000;
  }
  .price{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 130.3%;
    color: #000000;
  
  }
  .subtitle {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    max-width: 470px;
    color: #000000;
  }
  
  .content-text {
    display: flex;
    align-items: flex-end;
  }
  
  .data--input {
    background: #F8F8F8;
    border-radius: 11px;
    padding: 18px;
  }
  
  .data--label {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.07em;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    color: #000000;
  }